.backlog-table {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.backlog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}